{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hassaan Riaz - Computer Science Professional</title>

	<!-- Custom font -->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <!-- css -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/animations.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.circliful.css' %}" rel="stylesheet">
	<link href="{% static 'color/default.css' %}" rel="stylesheet">
	<link rel="icon" href="{% static 'img/favicon.ico' %}"/>
	
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<div id="loader-wrapper">
	    <div id="loader"></div>
	</div>
	<!-- Header -->
	<section class="hero" id="intro">
	    <div class="container">
	      	<div class="row">
	        	<div class="col-md-12 text-right navicon">
	          	<a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
	        	</div>
	      	</div>
	      	<div class="row">
	        	<div class="col-md-8 col-md-offset-2 text-center inner">
					<div class="animatedParent">
						<!-- <h1 class="animated fadeInDown">Hassaan Riaz</h1> -->
						<h2 class="animated fadeInUp header-font">Don't let someone else's opinion of you become your reality. <p class="top-marign">-Les Brown</p>
						</h2>
					</div>
		    	</div>
	      	</div>
	      	<div class="row">
	        	<div class="col-md-6 col-md-offset-3 text-center">
	          		<a href="#about" class="learn-more-btn  btn-scroll">About Me</a>
	        	</div>
	      	</div>
	    </div>
    </section>
	
    <!-- Navigation -->
    <div id="navigation">
    	<nav class="navbar navbar-custom" role="navigation">
    		<div class="container">
                <div class="row">
					<div class="col-md-2">
                        <div class="site-logo">
                            <a href="{% url 'index' %}" class="brand">Hassaan</a>
                        </div>
	                </div>
  		            <div class="col-md-10">
                         
                    <!-- Brand and toggle get grouped for better mobile display -->
                  		<div class="navbar-header">
                        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        	<i class="fa fa-bars"></i>
                        	</button>
                  		</div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#intro">Home</a></li>
                                <li><a href="#about">Who Am I</a></li>
                                <li><a href="#skill">Skills</a></li>
  							    <li><a href="#service">Services</a></li>
                                <li><a href="#works">Works</a></li>					
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                        <!-- /.Navbar-collapse --> 
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </nav>
    </div> 
    <!-- /Navigation -->  

	<!-- Section: about -->
    <section id="about" class="home-section color-dark bg-white">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="animatedParent">
						<div class="section-heading text-center animated bounceInDown">
							<h2 class="h-bold">Who Am I?</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-2 animatedParent">		
					<div class="text-center animatedParent">
						<p class="animated rollIn">
						I am a computer science graduate who has a professional experience of over two years in the field of Information Technology. Currently I am working as a Frontend developer in US based company, Mezino Technologies. Since my undergrad I have been involved in various academic and professional projects which helped me to get an insight to the real world applications. I have hands on experience in developing responsive web applications using front end technologies i.e. Bootstrap, JavaScript, HTML, Jquery etc. 
						</p>
					</div>
	            </div>
	        </div>		
		</div>
	</section>
	<!-- /Section: about -->

	<!-- Section: skills -->

	<section id="skill" class="home-section color-dark text-center" style="background-color: #F9F9F9;">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">	
					<div class="animatedParent">
						<div class="section-heading text-center">
							<h2 class="h-bold animated bounceInDown">Skills</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
            <div class="row animatedParent">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row gallery-item">
                        <div class="col-md-2 animated fadeInUp">
							<div id="html"><p>HTML/Bootstrap</p></div>
						</div>
						<div class="col-md-2 animated fadeInUp slow">
							<div id="css"><p>CSS3</p></div>
						</div>
						<div class="col-md-2 animated fadeInUp">
							<div id="jquery"><p>jquery</p></div>
						</div>
						<div class="col-md-2 animated fadeInUp">
							<div id="angular"><p>Angular JS</p></div>
						</div>
						<div class="col-md-2 animated fadeInUp slower">
							<div id="bootstrap"><p>Photoshop</p></div>
						</div>
						<div class="col-md-2 animated fadeInUp slower">
							<div id="pd"><p>Python/Django</p></div>
						</div>
					</div>
                </div>
            </div>	
		</div>
	</section>
	<!-- /Section: skills -->
	
	<!-- Section: services -->
    <section id="service" class="home-section color-dark bg-gray">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="section-heading text-center">
						<h2 class="h-bold">What I can do for you</h2>
						<div class="divider-header"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center">
			<div class="container">
		        <div class="row animatedParent">
		            <div class="col-md-3">
						<div class="animated rotateInDownLeft">
			                <div class="service-box">
								<div class="service-icon">
									<span class="fa fa-users fa-2x"></span> 
								</div>
								<div class="service-desc">						
									<h5>Team Work</h5>
									<div class="divider-header"></div>
								</div>
			                </div>
						</div>
		            </div>
					<div class="col-md-3">
						<div class="animated rotateInDownLeft slower">
			                <div class="service-box">
								<div class="service-icon">
									<span class="fa fa-exchange fa-2x"></span> 
								</div>
								<div class="service-desc">
									<h5>Communication</h5>
									<div class="divider-header"></div>
								</div>
			                </div>
						</div>
		            </div>
		            <div class="col-md-3">
						<div class="animated rotateInDownLeft slow">
			                <div class="service-box">
								<div class="service-icon">
									<i class="fa fa-code fa-2x"></i> 
								</div>
								<div class="service-desc">
									<h5>Code</h5>
									<div class="divider-header"></div>
								</div>
			                </div>
						</div>
		            </div>
		            <div class="col-md-3">
						<div class="animated rotateInDownLeft slower">
			                <div class="service-box">
								<div class="service-icon">
									<i class="fa fa-wrench fa-2x" aria-hidden="true"></i>
								</div>
								<div class="service-desc">
									<h5>Support</h5>
									<div class="divider-header"></div>
								</div>
			                </div>
						</div>
		            </div>
		        </div>		
			</div>
		</div>
	</section>
	<!-- /Section: services -->
	

	<!-- Section: works -->
    <section id="works" class="home-section color-dark text-center bg-white">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="animatedParent">
						<div class="section-heading text-center">
							<h2 class="h-bold animated bounceInDown">My works</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
            <div class="row animatedParent">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row gallery-item">
                        <div class="col-md-3 animated fadeInUp">
							<a href="{% static 'img/works/1.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
								<img src="{% static 'img/works/1.jpg' %}" class="img-responsive" alt="img">
							</a>
						</div>
						<div class="col-md-3 animated fadeInUp slow">
							<a href="{% static 'img/works/2.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
								<img src="{% static 'img/works/2.jpg' %}" class="img-responsive" alt="img">
							</a>
						</div>
						<div class="col-md-3 animated fadeInUp slower">
							<a href="{% static 'img/works/3.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
								<img src="{% static 'img/works/3.jpg' %}" class="img-responsive" alt="img">
							</a>
						</div>
						<div class="col-md-3 animated fadeInUp">
							<a href="{% static 'img/works/4.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
								<img src="{% static 'img/works/4.jpg' %}" class="img-responsive" alt="img">
							</a>
						</div>
					</div>
                </div>
            </div>	
		</div>
	</section>

	<!-- /Section: works -->

	<!-- Section: contact -->
    <section id="contact" class="home-section nopadd-bot color-dark text-center">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="animatedParent">
						<div class="section-heading text-center">
							<h2 class="h-bold animated bounceInDown">Get in touch</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row marginbot-80">
				<div class="col-md-8 col-md-offset-2 animatedParent">
				    <div id="sendmessage">Your message has been sent. Thank you!</div>
                	<div id="errormessage"></div>
					<form id="contact-form" action="" method="post" role="form" class="contactForm animated tada">
						<div class="row marginbot-20">
							<div class="col-md-6 xs-marginbot-20">
							    <div class="form-group">
    								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
							</div>
							<div class="col-md-6">
							    <div class="form-group">
    								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
							    </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
								</div>
								<div class="form-group">
									<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
								</div>						
								<button type="submit" class="btn btn-skin btn-lg btn-block animated bounce" id="btnContactUs">
									Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div>	
		</div>
	</section>
	<!-- /Section: contact -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="animatedParent clr-white">
					<div class="col-md-3 animated fadeIn"> <i class="fa fa-map-marker fa-2x"></i>
				        <p>Lahore , Pakistan</p>
			        </div>
			        <div class="col-md-3"> <i class="fa fa-envelope-o fa-2x"></i>
				        <p>hello@hassaanriaz.com</p>
			        </div>
	        	    <div class="col-md-3"> <i class="fa fa-phone fa-2x"></i>
				        <p> +923454124598</p>
				    </div>
				    <div class="col-md-3">
						<div class="footer-menu">
							<p>
								<a href="https://www.linkedin.com/in/hassaan-riaz-093a6651/">
									<i class="fa fa-linkedin fa-2x social-icons"></i>
								</a>
								<a href="https://www.facebook.com/muhammadhassaan.riaz">
									<i class="fa fa-facebook fa-2x social-icons"></i>
								</a>
								<a href="https://github.com/Hassaan26">
									<i class="fa fa-github fa-2x social-icons"></i>
								</a>
							</p>
					    </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="copyright animatedParent">
					<p class="animated fadeIn">Copyright &copy; 2017. Designed by <a href="#" rel="nofollow">hassaanriaz.com</a></p> 
				</div>
			</div>	
		</div>
	</footer>

    <!-- Core JavaScript Files -->
	<script src="{% static 'js/jquery.min.js' %}"></script>	 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>	
	<script src="{% static 'js/jquery.scrollTo.js' %}"></script>
	<script src="{% static 'js/jquery.appear.js' %}"></script>
	<script src="{% static 'js/stellar.js' %}"></script>
	<script src="{% static 'js/nivo-lightbox.min.js' %}"></script>
	<script src="{% static 'js/jquery.circliful.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/css3-animate-it.js' %}"></script>
    <script type="text/javascript">
	   $(window).load(function(){
	   // PAGE IS FULLY LOADED  
	   // FADE OUT YOUR OVERLAYING DIV
	   $('#loader').fadeOut();
	   $('#loader-wrapper').fadeOut();
	});
$( document ).ready(function() { // 6,32 5,38 2,34
	$("#html").circliful({
	    animation: 1,
	    animationStep: 5,
	    foregroundBorderWidth: 5,
	    backgroundBorderWidth: 5,
	    percent: 80,
	    textSize: 24,
	    textStyle: 'font-size: 12px;',
	    textColor: '#666',
	    multiPercentage: 1,
	    percentages: [10, 20, 30]
	});
	$("#css").circliful({
	    animation: 1,
	    animationStep: 5,
	    foregroundBorderWidth: 5,
	    backgroundBorderWidth: 5,
	    percent: 80,
	    textSize: 24,
	    textStyle: 'font-size: 12px;',
	    textColor: '#666',
	    multiPercentage: 1,
	    percentages: [10, 20, 30]
	});
	$("#bootstrap").circliful({
	    animation: 1,
	    animationStep: 5,
	    foregroundBorderWidth: 5,
	    backgroundBorderWidth: 5,
	    percent: 50,
	    textSize: 24,
	    textStyle: 'font-size: 12px;',
	    textColor: '#666',
	    multiPercentage: 1,
	    percentages: [10, 20, 30]
	});
	$("#jquery").circliful({
	    animation: 1,
	    animationStep: 5,
	    foregroundBorderWidth: 5,
	    backgroundBorderWidth: 5,
	    percent: 70,
	    textSize: 24,
	    textStyle: 'font-size: 12px;',
	    textColor: '#666',
	    multiPercentage: 1,
	    percentages: [10, 20, 30]
	});
	$("#angular").circliful({
	    animation: 1,
	    animationStep: 5,
	    foregroundBorderWidth: 5,
	    backgroundBorderWidth: 5,
	    percent: 50,
	    textSize: 24,
	    textStyle: 'font-size: 12px;',
	    textColor: '#666',
	    multiPercentage: 1,
	    percentages: [10, 20, 30]
	});
	$("#pd").circliful({
	    animation: 1,
	    animationStep: 5,
	    foregroundBorderWidth: 5,
	    backgroundBorderWidth: 5,
	    percent: 40,
	    textSize: 24,
	    textStyle: 'font-size: 12px;',
	    textColor: '#666',
	    multiPercentage: 1,
	    percentages: [10, 20, 30]
	});
});
    </script>
    
</body>

</html>
